*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: black;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.top-content{
    background-color: rgb(207, 133, 80);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px chocolate;
}
h3{
    height: 100%;
    background-color: rgb(203, 118, 57);
    line-height: 60px;
    padding: 0 50px;
    color: black;
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 30px;
    line-height: 60px;
    font-size: 18px;
    color: black;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: chocolate;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px chocolate;
    cursor: pointer;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    content: "Photo's Favourite";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateX(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0,0,0,.4);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .photo-gallery .myself{
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: .5s;
}
#check2:checked ~ .container .photo-gallery .friends
#check2:checked ~ .container .photo-gallery .family{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .5s;
}

div.relative 
    {
    position: relative;
    align-content: center;
    border: none;
    }